<%# app/views/movies/index.html.erb # %>

<h1>映画上映リスト</h1>

<%= render Movies::SearchFormComponent.new(
      keyword:    params[:keyword],
      is_showing: params[:is_showing]
    ) %>

<%= render Movies::TableComponent.new(movies: @movies) %>

<h2>人気作品ランキング（過去30日）</h2>
<%= render Movies::RankingsComponent.new(rankings: @rankings, target_date: @target_date) %>
