<%# app/components/movies/rankings_component.html.erb #%>
<% if @rankings.present? %>
  <% if @target_date.present? %>
    <p>対象日：<%= @target_date.strftime('%Y-%m-%d') %></p>
  <% end %>
  <ol>
    <% @rankings.each do |r| %>
      <li>
        <%= link_to r.movie.name, movie_path(r.movie) %>
        （予約数：<%= number_with_delimiter(r.total_reservations) %>）
      </li>
    <% end %>
  </ol>
<% else %>
  <p>まだランキングデータがありません。まずは集計タスクを実行してください。</p>
<% end %>
